<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Записи</title>
</head>
<body>
    <div>
        <a href="{{ url_for('main.home') }}">Головна сторінка</a>
        <br />
        <a href="{{ url_for('main.profile') }}">Повернутися до облікового запису</a>
        <br />
        <a href="{{ url_for('diary.diaries') }}">Мої щоденники</a>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div>
        <h1>Записи</h1>
        {% if not notes_list%}
        <p>Записів немає</p>
        {% endif %}
        {% for note in notes_list %}
            <p>{{ note.comment }}</p>
            <h2>{{ note.note_content }}</h2>
            <br />
            <a href="{{ url_for('note.update_note', note_id=note.id) }}">
                Змінити запис
            </a>
            <br />
            <a href="{{ url_for('note.delete_note', note_id=note.id) }}">
                Видалити запис
            </a>
        {% endfor %}
    </div>
</body>
</html>